@import url('../node_modules/bulma/css/bulma.css');
@import url('../node_modules/bulma-helpers/css/bulma-helpers.css');

h1 {
  font-size: xx-large;
  font-weight: 700;
  padding: 5px;
}

#searchBar {
  padding: 5px;
}

#searchBarLabel {
  padding-right: 5px;
}

#searchInputText {
  margin-right: 5px;
}